@media (max-width: 1200px)
  .container
    max-width: 960px

  .hotel-grid__swiper
    &-container
      width: 61.7%
      max-height: 100%
      height: 440px

  .options-card
    margin-bottom: 20px 

  .reviews__swiper-button
    top: 133px
    &_prev
      left: -101px
    &_next
      right: -101px

  .card
    width: 220px
    height: 220px

  .other
    &__wrapper
      gap: 20px

  .package-card__text
    font-size: 12px

  .footer
    &__legal
      padding-left: 50px

  .package-card__info_big 
    margin-bottom: 60px

  .footer__title-br
    display: inline

@media (max-width: 992px)
  a:after
    display: none

  .container
    max-width: 700px

  .navbar__item
    font-size: 12px
    line-height: 15px 

  .search
    width: 340px

  .header
    &__search
      margin-left: 6.75%

  .logo
    width: 132.75px

  .navbar
    &__list
      padding: 22px 13px 23px 14px
  
    &__item
      font-size: 12px
      line-height: 15px

  .header
    &-top
      padding: 30px 0   

  .hotel-grid
    flex-direction: row
    max-height: 690px    

  .hotel-grid__swiper-container
    height: 450px
    width: 700px
    margin-bottom: 30px

  .options-card
    padding: 29px 22px 26px 23px
    max-width: 340px

  .hotel-info__options-card
    margin-bottom: 60px

  .map
    width: 340px

  .hotel-info
    padding-bottom: 60px

  .newsletter
    padding: 92px 0 93px 0

  .reviews
    padding-bottom: 60px
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
    &__swiper
      max-width: 579px
    &__swiper-container
      max-width: 579px
    &__slide
      padding: 0 60px 30px 64px
      &::after
        display: none
      &::before
        display: none
    &__swiper-button
      top: 163px
      &_prev
        left: -60px
      &_next
        right: -60px

  .activities
    padding-bottom: 60px
    &__wrapper
      flex-wrap: wrap
    &__card
      &:nth-child(-n+2)
        margin-bottom: 20px
  .card
    width: 339px
    height: 255px

  .other 
    &__wrapper
      grid-template: 1fr 1fr 1fr / 1fr 1fr
  
  .footer
    padding-top: 73px
    padding-bottom: 33px
    &__logo
      grid-row: 1 / 2
      width: 96px
      padding-top: 0
    &__wrapper
      grid-template-columns: repeat(3 , 1fr)
      grid-row-gap: 50px 
    &__social
      grid-row: 1 / 2
      align-items: center
      margin-left: -35px
    &__categories
      grid-row: 2 / 3
    &__additional
      margin-left: -20px  
    &__legal
      padding-left: 40px
    &__contact, &__form-wrapper
      padding-top: 10px
      grid-column: 1 / -1
      max-width: 539px

    &__title-br
      display: none

@media (max-width: 767px)
  .container
    max-width: 576px
    width: 87%


  .header
    &_mobile_fixed
      position: fixed
      top: 0
      left: 0
      right: 0
      z-index: 300
  
  .header-top
    padding-top: 23px
    &__menu-button  
      display: flex

  .menu-button
    padding: 0
    display: flex
    align-items: center
    justify-content: space-between
    flex-direction: column
    width: 16px
    height: 11px
    border: none
    background-color: #fff
    &__line 
      width: 16px
      height: 1px
      background-color: $text-color

  .navbar
    display: none
    &__list
      flex-direction: column
    &__item:not(:last-child)
      margin-bottom: 20px  
    &_visible
      display: block
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
    &__item_mobile_visible
      display: list-item

  body
    padding-top: 78px

  .header
    &__search
      display: none
      &_mobile_visible
        display: block
        width: 245px
        margin-bottom: 39px
    &__user
      display: none
      &_mobile_visible
        display: flex
        flex-direction: column
        margin-bottom: 27px
        text-transform: none
        color: #FFFFFF
        & span
          margin-left: 0
          margin-top: 10px
  
  .breadcrumb-container
    padding-top: 11px

  .hotel-info
    padding-top: 5px
    &__text
      margin-bottom: 42px

  .hotel-grid__swiper-container
    height: 100%
    width: 100%
    margin-bottom: 20px

  .options-card
    max-width: 100%

  .hotel-info__options-card
    margin-bottom: 20px

  .map
    width: 100%
    height: 173px

  .hotel-grid
    max-height: 100% 

  .newsletter
    padding: 78px 0 86px 0
    &__wrapper
      flex-direction: column
      align-items: flex-start
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 37px
      &_small
        font-size: 20px
        line-height: 25px
    &__send
      width: 280px

  .reviews
    padding: 40px 20px 50px 20px
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 42px
    &__swiper
      max-width: 579px
    &__swiper-container
      max-width: 579px
    &__slide
      padding: 0 29px 36px 33px
    &__swiper-button
      top: 30px
      &_prev
        left: 50%
        transform: translateX(-50%)
        margin-left: -90px
      &_next
        right: 50%
        transform: translateX(50%)
        margin-right: -90px

  .other 
    &__wrapper
      grid-template: 1fr 1fr 1fr 1fr 1fr / 100%

  .package-card
    grid-column-start: span 1
    &_big
      grid-template: 1fr 1fr / 1fr
    &__image_big
      height: 250px  
    &__cust
      display: none   
    &__wrapper
      padding: 25px 18px 20px 25px
    &__offer
      padding: 4px 9px
      font-size: 8px
      line-height: 10px
      width: auto
    &__title
      margin-bottom: 22px
    &__info
      margin-bottom: 22px

  .activities
    &__card
      width: 48.5%

  .footer
    &__wrapper
      column-gap: 12px
    &__legal
      padding-left: 0
    &__additional, &__social
      margin-left: 0          
    &__title-br
      display: inline
@media (max-width: 576px) 
  .logo
    width: 99px

  .offer
    order: -1 
    margin-bottom: 10px

  .stars
    flex-basis: auto
    margin-left: auto
    margin-bottom: 10px
    margin-right: 14px

  .hotel-info__name
    flex-basis: 100% 
    margin-right: 0

  .rating
    display: none

  .activities
    padding-top: 40px
    &__card
      margin: auto
      width: 339px
      &:not(:last-child)
        margin-bottom: 20px

  .section-title_small
    font-size: 18px
    line-height: 23px
    margin-bottom: 36px

  .footer
    padding-top: 69px
    padding-bottom: 20px
    &__logo
      margin-bottom: 10px
    &__wrapper
      grid-template-columns: 1fr
      grid-row-gap: 30px
    &__social
      grid-column-start: 1 / -1 
      grid-row: 2 / 3
      flex-wrap: wrap
    &__title
      margin-bottom: 18px
      &_inline
        flex-basis: 100%
        margin-bottom: 16px
      &_bottom
        margin-top: 10px
        margin-bottom: 25px
      &_form
        margin-top: 24px
        margin-bottom: 16px  
    &__text
      margin-bottom: 19px
    &__item_contacts:not(:last-child)
      margin-bottom: 23px
    &__legal
      grid-row: 3 / 4
    &__additional
      grid-row: 4 / 5
    &__categories
      grid-row: 5 / 6
    &__icon
      min-width: 30px
    &__info
      flex-basis: 100%
      margin-bottom: 22px
    &__button
      order: 1
    &__form-wrapper, &__contact
      padding: 0
    &__form-wrapper
      min-width: 281px  
    &__input-wrapper
      flex-basis: 100%
    &__textarea
      min-height: 123px
      margin-bottom: 16px
    &__info
      margin-bottom: 15px  
    &__title-br
      display: none
  .bottom
    margin-top: 30px
    &__links-wrapper
      flex-basis: 100%
    &__payment-methods
      margin-top: 10px

  .modal
    &__dialog
      width: 92%
      padding: 33px 0 0 0
    &__form
      width: 92%
      min-width: 0
      max-width: 301px
      margin: auto
  
  .reviews__text
    text-align: left
    min-width: 219px

