@media (max-width: 1200px)
  .container
    max-width: 960px

  .hotel-grid__swiper
    &-container
      width: 61.7%
      max-height: 100%
      height: 440px

  .options-card
    margin-bottom: 20px 

  .reviews__swiper-button
    top: 133px
    &_prev
      left: -101px
    &_next
      right: -101px

  .card
    width: 220px
    height: 220px

  .other
    &__wrapper
      gap: 20px

  .package-card__text
    font-size: 12px    


@media (max-width: 992px)
  .container
    max-width: 700px

  .navbar__item
    font-size: 12px
    line-height: 15px 

  .search
    width: 340px

  .header
    &__search
      margin-left: 6.75%

  .logo
    width: 132.75px

  .navbar
    &__list
      padding: 22px 13px 23px 14px
  
    &__item
      font-size: 12px
      line-height: 15px

  .header
    &-top
      padding: 30px 0   

  .hotel-grid
    flex-direction: row
    max-height: 690px    

  .hotel-grid__swiper-container
    height: 450px
    width: 700px
    margin-bottom: 30px

  .options-card
    padding: 29px 22px 26px 23px
    max-width: 340px

  .hotel-info__options-card
    margin-bottom: 60px

  .map
    width: 340px

  .hotel-info
    padding-bottom: 60px

  .newsletter
    padding: 92px 0 93px 0

  .reviews
    padding-bottom: 60px
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
    &__swiper
      max-width: 579px
    &__swiper-container
      max-width: 579px
    &__slide
      padding: 0 60px 30px 64px
      &::after
        display: none
      &::before
        display: none
    &__swiper-button
      top: 163px
      &_prev
        left: -60px
      &_next
        right: -60px

  .activities
    padding-bottom: 60px
    &__wrapper
      flex-wrap: wrap
    &__card
      &:nth-child(-n+2)
        margin-bottom: 20px
  .card
    width: 339px
    height: 255px

  .other 
    &__wrapper
      grid-template: 1fr 1fr 1fr / 1fr 1fr
  
    


@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%

  .navbar
    display: none
  
  .header
    &__search, &__user
      display: none

  .header-top
    &__menu-button  
      display: flex

  .menu-button
    padding: 0
    display: flex
    align-items: center
    justify-content: space-between
    flex-direction: column
    width: 16px
    height: 11px
    border: none
    background-color: #fff
    &__line 
      width: 16px
      height: 1px
      background-color: $text-color

  .hotel-grid__swiper-container
    height: 100%
    width: 100%
    margin-bottom: 20px

  .options-card
    max-width: 100%

  .hotel-info__options-card
    margin-bottom: 20px

  .map
    width: 100%

  .hotel-grid
    max-height: 100% 

  .newsletter
    &__wrapper
      flex-direction: column
      align-items: flex-start
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 37px
      &_small
        font-size: 20px
        line-height: 25px
    &__send
      width: 280px

  .reviews
    padding: 40px 20px 50px 20px
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 42px
    &__swiper
      max-width: 579px
    &__swiper-container
      max-width: 579px
    &__slide
      padding: 0 29px 36px 33px
    &__swiper-button
      top: 30px
      &_prev
        left: 50%
        transform: translateX(-50%)
        margin-left: -90px
      &_next
        right: 50%
        transform: translateX(50%)
        margin-right: -90px

  .activities
    padding-top: 40px
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
    &__card
      margin: auto
      &:not(:last-child)
        margin-bottom: 20px
  .other 
    &__wrapper
      grid-template: 1fr 1fr 1fr 1fr 1fr / 100%

  .package-card
    grid-column-start: span 1
    &_big
      grid-template: 1fr 1fr / 1fr
    &__image_big
      height: 250px  
    &__cust
      display: none   
    &__wrapper
      padding: 25px 18px 20px 25px
    &__offer
      padding: 4px 9px
      font-size: 8px
      line-height: 10px
      width: auto
    &__title
      margin-bottom: 22px
    &__info
      margin-bottom: 22px
        


@media (max-width: 576px) 
  .logo
    width: 99px

  .offer
    order: -1 
    margin-bottom: 14px

  .stars
    flex-basis: auto
    margin-left: auto
    margin-bottom: 14px

  .hotel-info__name
    flex-basis: 100% 
    margin-right: 0

  .rating
    display: none

  
  


