*
  box-sizing: border-box

body
  font-family: 'Muli', sans-serif
  background-color: $bgc-1
  color: $text-color
  overflow-x: hidden

body, html
  height: 100%

a 
  color: inherit
  text-decoration: none
  position: relative

  &:after 
    display: block
    position: absolute
    left: 0
    width: 0
    height: 1px
    background-color: #ffffff
    content: ''
    transition: width 0.3s ease-out

  &:hover:after,
  &:focus:after 
    width: 100%

img
  max-width: 100%

button
  outline: none
  cursor: pointer
  border: none
  &:hover
    background: 
  
ul 
  margin: 0
  padding: 0

h1, h2, h3, p 
  margin: 0

.container
  max-width: 1110px
  margin: auto 

.stars
  letter-spacing: -2px
   

