.hotel-info
  padding: 23px 0 20px 0
  &__name
    text-transform: uppercase
    font-size: 24px
    line-height: 30px
    margin-right: 14px
  &__wrapper
    display: flex
    flex-wrap: wrap
    align-items: center  
  &__text
    font-size: 12px
    line-height: 15px

.stars
  margin-bottom: 5px
  line-height: 4px 
  flex-basis: 100%  

.offer
  padding: 3px 9px 4px 9px
  background-color: $button-color
  font-size: 10px
  line-height: 13px
  display: block
  color: #ffffff
  border-radius: 3px
  max-height: 20px

.rating
  padding: 9px 6px 6px 7px
  text-align: center
  font-weight: 600
  font-size: 8px
  line-height: 10px
  color: #ffffff
  max-width: 65px
  min-height: 45px
  background-color: $button-color
  border-radius: 4px
  margin-left: auto
  margin-top: -7px
  margin-bottom: -8px
  &__score
    font-weight: bold
    font-size: 14px
    line-height: 18px
    &_small
      font-size: 10px
   
    

